---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';
@import url('https://fonts.googleapis.com/css?family=Lato');


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

body {
    font-family: Lato !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}

.mashead {
    text-align: center;
}

.mashead-info .d-flex {
    justify-content: center;
    align-content: center;
}

.contact {
    display: block;
}
.contact .contact-title {
    position: relative;
    color: #333030;
    font-weight: 400;
    font-size: 12px;
    margin: 0 0 5px;
    text-transform: uppercase;
    text-align: center;
}
.contact .contact-title::before, .contact .contact-title::after {
    content: "";
    display: block;
    height: 2px;
    width: -webkit-calc(50% - 48px);
    width: calc(50% - 48px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #515151;
}
.contact .contact-title::after { 
    right: 0;
}
.contact ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.contact ul li {
    display: inline-block;
    margin-left: 10px;
}
.contact ul li:first-child {
    margin-left: 0;
}
.contact ul li a {
    color: #515151;
    display: block;
    padding: 5px;
    font-size: 18px;
    -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    -o-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
}
.copyright {
    font-size: 14px;
    text-align: center;
    margin: 0;
}